@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.main-logo{
    color: #353535;
    padding: 0 30px;
}

.mail-title {
    color: #424242;
}


.main-mail p b {
    color: #686970;
}

.main-mail{
    text-align: left;
    padding: 0 30px;
}

.main-wrapper{
    color: #72686a;
    max-width: 700px;
    margin: 0 auto;
    
    
}

.main-wrapper .main-mail{
    background-color: #ffffff;
    border-color: #e9e9e9;
    border-style: solid;
    border-width: 2px;
    
}

p {
    color: #72686a;
}

.profile-pic{
    border-radius: 100%;
    max-width: 100px;
}

.mail-footer{
    padding: 0 30px;
}